<div class="container" style="padding-top: 30px;">
<div class="center">
			<legend>
				<label class="titleMovie">{{movie.name}}</label>
			</legend>
			<div style="float: left; padding-right:30px; padding-right:200px">
				<div class="divInfoMovie">
					<label class="labelMovie">Description:</label> 
					<textarea class="xxlarge" name="textarea" ng-model="movie.description" rows="3" disabled
					style="width: 670px; height: 90px;"></textarea>
				</div>
				<div class="divInfoMovie">
					<label class="labelMovie">Actors:</label> 
					<input type="text" ng-model="movie.actors" disabled
					style="width: 670px;"/>
				</div>
				<div class="divInfoMovie">
					<label class="labelMovie">Genre:</label> 
					<input type="text" ng-model="movie.genre" disabled
					style="width: 670px;"/>
				</div>
			</div>
			<div>
				<img alt="" ng-src="{{movie.urlImage}}">
			</div>
			<div style="padding-top: 10px;">
				<center>
					<iframe id="ctl00_slotContent_ifTrailer" width="410" height="250"
						ng-src="{{movie.urlTrailer}}" frameborder="0"
						allowfullscreen=""></iframe>
				</center>
			</div>
			</div>
</div>