<div class="container">
	<legend style="width: 100%;">
		<label class="titleMovie">{{movie.title}}</label>
	</legend>
	<div class="boxDetailMovie">
		<div class="clearfix">
			<label class="myLabelTitle">ImdbId:</label> 
			<input class="span1" type="text" ng-model="movie.imdbId" disabled />
		</div>
		<div class="clearfix">
			<label class="myLabelTitle">Genre:</label> 
			<input class="span2" type="text" ng-model="movie.genre" disabled/>
		</div>
		<div class="clearfix">
			<label class="myLabelTitle">CinemaType:</label> 
			<input class="span2" type="text" ng-model="movie.cinemaType" disabled/>
		</div>
		<div class="clearfix">
			<label class="myLabelTitle">Summary:</label> 
			<textarea class="span7" name="textarea" ng-model="movie.summary" rows="5" disabled></textarea>
		</div>
		<div class="clearfix">
			<label class="myLabelTitle">Director:</label> 
			<input class="span5" type="text" ng-model="movie.director" disabled/>
		</div>
		<div class="clearfix">
			<label class="myLabelTitle">Actors:</label> 
			<input class="span5" type="text" ng-model="movie.actors" disabled/>
		</div>
		<div class="clearfix">
			<label class="myLabelTitle">Year:</label> 
			<input class="span1" type="text" ng-model="movie.year" disabled/>
		</div>
		<div>
			<a class="btn btn-success" ng-href="#/index">RETURN</a>
		</div>
	</div>
	<div>
		<img id="imgPictureMovie" alt="" ng-src="{{movie.picUrl}}">
		<iframe id="iframeTrailer" width="410" height="250"
			ng-src="{{movie.trailerUrl}}" frameborder="0"
			allowfullscreen=""></iframe>
	</div>
</div>