<div> 
	<legend>Step 3: Select Method Payment</legend>
	<h5 class="label label-warning">Reservation summary</h5>
	<div class="divInfoMovie">
		<label class="myLabelTitle">Theater</label> 
		<label class="myLabelInfo">{{filter.theaterSelected.name}}</label>
	</div>
	<div class="divInfoMovie">
		<label class="myLabelTitle">Movie</label> 
		<label class="myLabelInfo">{{filter.movieSelected.title}}</label>
	</div>
	<div class="divInfoMovie" style="float: right";>
		<label class="myLabelTitle">Quantity:</label> 
		<label class="myLabelInfo">{{filter.quantitySelected}}</label>
	</div>
	<div class="divInfoMovie">
		<label class="myLabelTitle">Show Time</label> 
		<label class="myLabelInfo">{{filter.showTimeSelected.schedules.time}}</label>
	</div>
	<div class="divInfoMovie">
		<label class="myLabelTitle">Sities:</label> 
		<label class="myLabelInfo">{{filter.sitiesSelectedText}}</label>
	</div>
	<h5 class="label label-warning">Personal information</h5>
	<div class="divInfoMovie">
		<label class="myLabelTitle">Method Payment:</label> 
			<select id="stMethodPayment"
				ng-model="filter.methodPaymentSelected"
				ng-options="methodPayment.name for methodPayment in methodsPayment">
			<option style="display:none" value="">Select Method Payment</option>	
		</select>
	</div>
	<div class="divInfoMovie">
		<label class="myLabelTitle">Email:</label> 
		<input type="text" ng-model="filter.email"></input>
    </div>
    <div class="divInfoMovie">
		<label class="myLabelTitle">Dni:</label> 
        <input type="text" ng-model="filter.dni"></input>
    </div>
	<a class="btn btn-success" ng-click="lastStep()" ng-show="filter.methodPaymentSelected && filter.email && filter.dni">BUY</a>
</div>
