<div>
	<form>
		<fieldset> 
			<legend>Step 1: Buy movie online</legend>
			<div>
				<label class="myLabelTitle">Theater:</label> 
				<select id="stTheater"
					ng-model="filter.theaterSelected"
					ng-change="updateTheaterSelected()"
					ng-options="theater.name for theater in theaters">
					<option style="display:none" value="">Select Theater</option>
				</select>
			</div>
			<div>
				<div>
					<label class="myLabelTitle" style="float: left;">Movie:</label> 
					<a id="btnMoreDetail" class="btn btn btn-info" ng-href="#/movies/{{filter.movieSelected.id}}"
						ng-disabled="!filter.movieSelected">More detail</a>
				</div>
				<select id="stMovie"
					ng-model="filter.movieSelected"
					ng-disabled="!filter.theaterSelected"
					ng-change="updateMovieSelected()"
					ng-options="movie.title for movie in movies">
				<option style="display:none" value="">Select Movie</option>
				</select>
			</div>
			<div>
				<label class="myLabelTitle">Time:</label> 
				<select id="stShowTimes"
					ng-model="filter.showTimeSelected"
					ng-disabled="!(filter.theaterSelected && filter.movieSelected)"
					ng-change="updateShowTimeSelected()"
					ng-options="showTime.schedules.time for showTime in showTimes">
				<option style="display:none" value="">Select Time</option>	
				</select>
			</div>
			<div class="divInfoMovie" ng-show="filter.movieSelected">
				<label class="myLabelTitle">Description:</label> 
				<textarea class="xxlarge" name="textarea" ng-model="summary" rows="18" disabled></textarea>
			</div>
		</fieldset>
		 <td><a class="btn btn-success" ng-click="navigateUrl()"
		 ng-show="filter.theaterSelected && filter.movieSelected && filter.showTimeSelected && showButton">BUY</a></td>
	</form>
</div>