 <div ng-controller="sitiesCtrl">
	<legend>Step 2: Select Site</legend>
	<div id="divQuantity">
		<div make-chairs chair-value="quantity" max="4" ></div>
	</div>
	<div id="divImgCinema">
		<img alt="" src="./resources/img/screen.png" ng-style="{'width': sizeScreen}">
	</div>
	<div id="divSectionCinema" ng-repeat="section in sections">
		<div ng-style="{'width': section.size}">
			<span class="ng-scope" ng-repeat="sitie in section.sities">
				<img ng-src="{{sitie.url}}" width="20" height="20" ng-click="updateSitie(sitie)">
			</span>
		</div>
	</div>
	<div>
		<a class="btn btn-success" ng-click="nextStep(mapSitiesSelected)" ng-show="quantity == occupiedSession">NEXT</a>
	</div>
</div>
